#game_list {
	list-style: none;
	padding: 0;
	border: thin solid;
}
#game_list > li {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	grid-template-areas: "a i . x";
	justify-content: center;
	align-items: center;
	border-top: thick dashed;
	padding: 0.25em 0.5ch;
}
#game_list > li:first-of-type { border-top: 0; }

.cart_tc { padding: 1em 2ch; }
.cart_tc h2 { width: fit-content; margin-top: 0;}

#game_list img { max-width: 320px; grid-area: a; }
#game_list input {
	display: block;
	color: var(--color);
	background-color: var(--background-color);
	/* border: 0; */
	width: 5ch;
	font-size: larger;
	padding: 0 1ch;
	border-radius: 1ch;
}

.x_wrapper {
	position: relative;
	width: 18pt;
	height: 100%;
	grid-area: x;
}
.x_button {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #DC143C;
	color: #FFF;
	width: 1ch;
	height: 1ch;
	padding: 0.125ch;
	border-radius: 50%;
	line-height: 0.9ch;
	text-align: center;
	transform: rotate(45deg);
	font-family: 'Arial' sans-serif;
	font-size: 24pt;
	font-weight: bold;
	cursor: pointer;
	transition: background-color ease-in-out 100ms;
	grid-column: -2 / -1;
}
.x_button::before { content: '+'; }
.x_button:hover, .x_button:focus { background-color: #FF6347; }

#empty_cart_message {
	display: none;
	text-align: center;
}

@media only screen and (max-width: 1000px) {
	#game_list > li {
		grid-template-columns: 1fr auto auto;
		grid-template-areas:
			"i . x"
			"a a a"
		;
	}
	#game_list h2 { text-align: center; }
	#game_list input { margin: 0 auto; }
	#game_list .price { margin: 0 auto; }
	#game_list img { max-width: none; width: 100%; }
}

@media only screen and (max-width: 500px) {
	#game_list > li {
		grid-template-columns: 1fr auto;
		grid-template-areas:
			"i x"
			". x"
			"a a"
		;
	}
	#game_list h2 { text-align: center; }
	#game_list input { margin: 0 auto; }
	#game_list .price { margin: 0 auto; }
	#game_list img { max-width: none; width: 100%; }
}