#game_list {
	list-style: none;
	padding: 0;
	border: thin solid;
}
#game_list > p { text-align: center; }
#game_list > li {
	display: grid;
	grid-template-columns: 1fr auto auto;
	justify-content: center;
	align-items: center;
	border-top: thick dashed;
	padding: 0.25em 2ch;
}
#game_list > li:first-child {
	border-top: 0;
}
