.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	column-gap: 2ch;
	row-gap: 1em;
}
.gallery div {
	border: 2px solid;
	background-color: var(--bg-color);
	/* Grid */
	display: grid;
	grid-template-rows: auto 1fr;
}
.gallery img {
	width: 100%;
	transition: transform 0.2s;
}
.gallery img:hover { transform: scale(2); }
.gallery label {
	display: block;
	/* text-align: center; */
	width: 100%;
	margin: 0;
	padding: 0.5em 2ch;
	box-sizing: border-box;
}

/*? Queries */
@media screen and (max-width: 1200px) {
	.gallery img:hover { transform: scale(1.5); }
}
@media screen and (max-width: 1000px) {
	.gallery img:hover { transform: none; }
}