/* Header */
header {
	background-color: #30202e;
	background-color: var(--header-footer-background);
	border-bottom: 1px solid var(--border-color);
}
header h1 {
	margin: 0 1.5ch;
	padding: 0.5em 0;
}

/* Nav */
#nav_menu {
	background-color: var(--nav-background);
	border-bottom: 2px solid var(--border-color);
}
#nav_menu ul {
	/* Styling */
	list-style: none;
	/* Display */
	display: flex;
	margin: 0;
	padding: 0;
}
#nav_menu > ul {
	flex-direction: row;
}
#nav_menu > ul ul {
	/* Display */
	display: none;
	position: absolute;
	flex-direction: column;
}
#nav_menu > ul li:hover ul {
	/* Display */
	display: inherit;
	flex-direction: column;
	box-shadow: 0px 6px 4px 2px #0000005f;
}
#nav_menu>ul::after {
	/* Display */
	content: ""; /* Correct spacing for nav_menu. */
	display: block;
}
#nav_menu a {
	/* Styling */
	background-color: #282D1E;
	background-color: var(--nav-background);
	/* background-image: linear-gradient(to bottom, #404730, #181a15); */
	/* Display */
	display: block;
	text-align: center;
	padding: 0.5em 1ch;
}
#nav_menu a:hover,
#nav_menu a:focus {
	background-color: #424A32;
	background-color: var(--nav-highlight);
}
/* Borders*/
#nav_menu > ul > li > a {
	border-right: 1px solid var(--border-color);
}
#nav_menu > ul ul a {
	border-top: 1px solid var(--border-color);
}

/* Footer */
footer {
	/* Styling */
	border-top: 2px solid var(--border-color);
	background-color: var(--header-footer-background);
	/* Display */
	padding: 0.5em 0;
	/* Text */
	text-align: center;
}