
:root {
	/*? Variables */
	--text-color:   #FFFFFF;
	--border-color: #FFFFFF;
	--bg-color:       #111111;
	--headfooter-bgc: #222222;
	--nav-bgc:           #171717;
	--nav-highlight-bgc: #333333;
	--quote-bdr: #7E4B76;
	--quote-bgc: #1E1829;
	--div-bdr: #757575;
	--div-bgc: #0C0C0C;
	/*? Store */
	--old-price-col: #A43B74;
	--old-price-bgc: #4D1835;
	--cart-col: #E6C27F;
	--cart-bgc: #6A4f1B;
	--price-col: #4FD596;
	--price-bgc: #0C5B36;
	/*? Anchor */
	--anchor-col: #01ae63;
	--anchor-vis-col: #ba2c1c;
	--anchor-fcol: #60f49e;
	--anchor-vis-fcol: #fe6e59;
	/*? Styling */
	color: var(--text-color);
	background-color: var(--headfooter-bgc);
	border-color: var(--border-color);
	/*? Text */
	font-family: 'Consolas', monospace;
}

/*? Anchor Colors */
a { color: var(--anchor-col); }
a:visited { color: var(--anchor-vis-col); }
a:hover, a:focus { color: var(--anchor-fcol); }
a:hover:visited, a:focus:visited { color: var(--anchor-vis-fcol); }

/*? Required */
.required { color: #ff7f50; }

body {
	/*? Center content. */
	margin: auto;
	/* border: solid var(--border-color); */
	/* border-width: 0 3px; */
	/*? Sizing */
	min-height: 100vh;
	/*? Flexbox */
	display: flex;
	flex-direction: column;
	/*? Styling */
	background-color: var(--bg-color);
	/* box-shadow: 0 0 15px 15px #0000007F; */
}
main {
	margin: 1em auto;
	/* padding: 1em 20ch; */
	max-width: 96ch;
	width: 90%;
}
main > p { line-height: 1.6em; }
main > p::first-letter {
	font-size: 2em;
	margin-left: 2ch;
}

blockquote {
	font-style: italic;
	background-color: var(--quote-bgc);
	border-left: 3px solid var(--quote-bdr);
	border-radius: 1em;
	padding: 1em 2ch;
}


/*? Size Queries */
@media only screen and (max-width: 1000px) {
	main {
		padding: 1em 5ch;
		max-width: auto;
		width: auto;
	}
}

/*? Style Queries */
@media only screen and (prefers-color-scheme: light) {
	/*? Light mode users. */
	:root {
		--text-color:   #000;
		--border-color: #000;
		--bg-color:       #FFF;
		--headfooter-bgc: #999;
		--nav-bgc:           #BBB;
		--nav-highlight-bgc: #DDD;
		--quote-bdr: #8FA368;
		--quote-bgc: #D4E5B6;
		--div-bdr: #757575;
		--div-bgc: #D4D4D4;
		/*? Store */
		--old-price-col: #4D1835;
		--old-price-bgc: #A43B74;
		--cart-col: #6A4f1B;
		--cart-bgc: #E6C27F;
		--price-col: #0C5B36;
		--price-bgc: #4FD596;
		/*? Anchor */
		--anchor-col: oklch(10% 0.1 200);
		--anchor-vis-col: oklch(10% 0.2 300);
		--anchor-fcol: oklch(40% 0.1 200);
		--anchor-vis-fcol: oklch(40% 0.2 300);
	}
}
@media print {
	/*? Clear backgrounds for printing. */
	* {
		--text-color:   #000 !important;
		--border-color: #000 !important;
		--bg-color:       #FFF !important;
		--headfooter-bgc: #FFF !important;
		--nav-bgc:           #FFF !important;
		--nav-highlight-bgc: #FFF !important;
		--quote-bdr: #000 !important;
		--quote-bgc: #EEE !important;
		--div-bdr: #000 !important;
		--div-bgc: #DDD !important;
		/*? Store */
		--old-price-col: #000 !important;
		--old-price-bgc: #FFF !important;
		--price-col: #000 !important;
		--price-bgc: #FFF !important;
		/*? Anchor */
		--anchor-col: #555 !important;
		--anchor-vis-col: #111 !important;
		--anchor-fcol: #555 !important;
		--anchor-vis-fcol: #111 !important;
	}
}
