
#projects {
	list-style: none;
	padding-left: 0;
}
#projects li {
	background-color: var(--div-bgc);
	/* Border */
	border: 0 solid var(--div-bdr);
	border-left-width: 2px;
	border-radius: 2px 5px 5px 2px;
	/* Display */
	margin: 1em 0;
	padding: 1px 2ch;
	/* Transition */
	transition-property: border-left-width, width, translate;
	transition-timing-function: ease;
	transition-duration: 0.1s;
}
#projects li:hover {
	border-left-width: 5px;
	width: calc(100% - 4ch - 3px);
	translate: -3px 0;
}
#projects a {
	display: block;
	width: fit-content;
	margin-right: auto;
}
#projects h3:hover {
	text-decoration-line: underline;
}
#projects img {
	max-width: 100%;
	margin: 0 auto;
}