
main ul {
	list-style: none;
	padding-left: 0;
}
main ul li {
	background-color: var(--div-bgc);
	/* Border */
	border: 0 solid var(--div-bdr);
	border-left-width: 2px;
	border-radius: 2px 5px 5px 2px;
	/* Display */
	margin: 1em 0;
	padding: 1px 2ch;
	/* Transition */
	transition-property: border-left-width, width, translate;
	transition-timing-function: ease;
	transition-duration: 0.1s;
}
main ul li:hover {
	border-left-width: 5px;
	width: calc(100% - 4ch - 3px);
	translate: -3px 0;
}