#store_tag {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 1ch;
	width: fit-content;
	justify-content: center;
	align-items: center;
}
#store_tag button,
#store_tag .button {
	padding: 0.5em 1ch;
	font-size: 150%;
	font-weight: bold;
	border-width: thick;
	border-radius: 0.5em;
	cursor: pointer;
}
#store_tag .button { border-style: outset; text-decoration: none; }
#store_tag .button:active { border-style: inset; }
#buy {
	color: var(--price-col);
	background-color: var(--price-bgc);
	border-color: var(--price-bgc);
}
#cart {
	color: var(--cart-col);
	background-color: var(--cart-bgc);
	border-color: var(--cart-bgc);
}
